@page "/explorer"

@using LeagueToolkit.Core.Wad;
@using Microsoft.WindowsAPICodePack.Dialogs;
@using Obsidian.Data.Wad;
@using Obsidian.Data;
@using Obsidian.Services;
@using Obsidian.Utils;
@using PhotinoNET;
@using Microsoft.AspNetCore.Components;

<div style="height: 100%;">
    <WadExplorer WadTree="@WadTree" />
</div>
