@page "/"

<div></div>

@code {
    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        this.NavigationManager.NavigateTo("/explorer");
    }
}

