@using Obsidian.Data;
@using Obsidian.Utils;

<style>
    .wad-file-preview-viewport {
        position: relative;
        width: 100%;
    }

    .wad-file-preview-viewport-hidden {
        display: none;
    }

    .wad-file-render-canvas {
        width: 50vw;
        height: calc(100vh - 58px);
        aspect-ratio: 1;
        touch-action: none;
    }

    .wad-file-render-canvas-wrapper {
        width: 100%;
        height: calc(100vh - 58px);
    }

        .wad-file-render-canvas-wrapper > .lil-gui {
            position: absolute;
            top: 0px;
            right: 0px;
            max-height: calc(100vh - 58px); 
        }

    .wad-file-render-canvas-content {
        position: sticky;
        left: 0px;
        display: flex;
        flex-direction: column;
        width: 128px;
        height: 100%;
     }

    .wad-file-render-canvas-content-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }
</style>

<div class="@(_isEnabled ? "wad-file-preview-viewport" : "wad-file-preview-viewport-hidden")">
    <div class="wad-file-render-canvas-content-wrapper">
        <div class="wad-file-render-canvas-content">
            <MudButton Class="mt-auto mb-2 ml-2" Style="pointer-events: auto;"
                       Color="Color.Primary" Variant="Variant.Filled"
                       StartIcon="@CustomIcons.Material.ContentSave"
                       OnClick="SaveAsGltf">
                GLTF
            </MudButton>
        </div>
    </div>
    <div id="@WadPreviewUtils.VIEWPORT_CONTAINER_ID" class="wad-file-render-canvas-wrapper">
        @*<canvas id="@($"{WadTab.Id}_renderCanvas")" class="wad-file-render-canvas" />*@
    </div>
    <MudOverlay Absolute DarkBackground Visible="_isSavingAsGltf" ZIndex="9999">
        <MudProgressLinear Rounded Indeterminate
                           Class="my-6" Style="width: 500px"
                           Color="Color.Primary" Size="Size.Large" />
        <MudText Class="unselectable-text" Align="Align.Center" Typo="Typo.body1">
            Saving as glTF...
        </MudText>
    </MudOverlay>
</div>
