@using Obsidian.Data;
@using Obsidian.Utils;

<MudMenu PositionAtCurser Dense
         Class="ma-auto"
         Style="@(_isEnabled ? "" : "display: none;")"
         ActivationEvent="MouseEvent.RightClick">
    <ChildContent>
        <MudMenuItem Icon="@CustomIcons.Material.ContentSave" IconColor="Color.Primary" IconSize="Size.Small"
                     OnClick="SaveAsPng">
            Save as PNG
        </MudMenuItem>
    </ChildContent>
    <ActivatorContent>
        <div style="margin: auto;">
            <MudImage ObjectFit="ObjectFit.Contain" id="@WadPreviewUtils.IMAGE_PREVIEW_ID" Style="max-height: 70vh;" />
        </div>
    </ActivatorContent>
</MudMenu>
<MudOverlay DarkBackground Visible="_isSavingAsPng" ZIndex="9999">
    <MudProgressLinear Rounded Indeterminate
                       Class="my-6" Style="width: 500px"
                       Color="Color.Primary" Size="Size.Large" />
    <MudText Class="unselectable-text" Align="Align.Center" Typo="Typo.body1">
        Saving PNG file...
    </MudText>
</MudOverlay>
