@using CommunityToolkit.HighPerformance;
@using LeagueToolkit.Core.Wad;
@using LeagueToolkit.Toolkit.Ritobin;
@using Obsidian.Data.Wad;
@using System.Text;
@using Obsidian.Services;

<div class="@(Enabled ? "wad-file-preview-text" : "wad-file-preview-text-hidden")">
    @if (_text.Value is not null)
    {
        <pre class="language-python">
        <code class="language-python" style="display: block; height: calc(100vh - 160px); width: 100%">
                @_text
        </code>
        </pre>
    }
</div>

@code {
    [Inject]
    public IJSRuntime Js { get; set; }

    [Inject]
    public HashtableService Hashtable { get; set; }

    [Parameter]
    public bool Enabled { get; set; }

    private MarkupString _text;

    public async Task PreviewFile(Stream stream)
    {
        using MemoryStream textStream = new();
        using (RitobinWriter writer =
            new(
                textStream,
                this.Hashtable.BinObjects,
                this.Hashtable.BinClasses,
                this.Hashtable.BinProperties,
                this.Hashtable.BinHashes
            ))
        {
            writer.WritePropertyBin(new(stream));
        }

        string previewText = Encoding.UTF8.GetString(textStream.ToArray());

        this._text = new(await this.Js.InvokeAsync<string>("highlightCodePython", previewText));

        StateHasChanged();
    }
}
