@using Obsidian.Data.Wad;

<style>
    .wad-file-preview-viewport {
        position: relative;
    }

    .wad-file-preview-viewport-hidden {
        display: none;
    }

    .wad-file-render-canvas {
        width: 50vw;
        height: 100%;
        max-height: calc(100vh - 147px);
        aspect-ratio: 1;
        touch-action: none;
    }
</style>

<div class="@(_isEnabled ? "wad-file-preview-viewport" : "wad-file-preview-viewport-hidden")">
    <MudText id="@($"{WadTab.Id}_renderCanvas_fps")"
             Class="absolute unselectable-text"
             Style="top: 0px; left: 0px; z-index: 1">
        FPS: n/a
    </MudText>
    <div style="overflow:scroll; position: relative;">
        <canvas id="@($"{WadTab.Id}_renderCanvas")" class="wad-file-render-canvas" />
    </div>
</div>

@code {
    [Parameter]
    public WadTabModel WadTab { get; set; }

    private bool _isEnabled => this.WadTab.CurrentPreviewType is WadFilePreviewType.Viewport;
}
